@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media only screen and (max-width:480px){
    body{
        margin: 0px;
        padding: 0px;
        font-family: "Inter", sans-serif;
        background-color: #112140;
    }

    #wrapper{
        width: 100%;
    }

    header{
        padding: 20px;
        text-align: center;
        background-color: #112140;
        color: #F2F2F2;
        border-bottom: 5px solid #254159;
    }

    header nav a{
        margin: 0 25px;
        color: #F2F2F2;
        text-decoration: none;
    }

    header nav a:hover{
        color: #D9B18F
    }

    footer{
        padding: 20px;
        text-align: center;
        background-color: #112140;
        color: #F2F2F2;
        border-top: 5px solid #254159;
    }

    #projects{
        max-width: 480px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        color: #F2F2F2;
    }

    .card{
        background-color: #254159;
        border: 3px solid #D9B18F;
        border-radius: 5px;
        margin: 15px;
        padding: 10px;
    }

    #contact{
        width: 50%;
        margin: 0 auto;
        color: #F2F2F2;
    }

    #contact h2{
        text-align: center;
    }
    
    #contact p{
        text-align: center;
    }

    input[type="submit"]{
        padding: 10px 20px;
        border-radius: 5px;
        color: #112140;
        background-color: #D9B18F;
        font-family: "Inter", sans-serif;
        border: 0px;
        font-size: 16px;
        font-weight: bold;
    }
    input[type="submit"]:hover{
        background-color: #a67f5d;
    }

    input[type=text], textarea{
        border-radius: 5px;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: #254159;
        border: 3px solid #D9B18F;
        color: #F2F2F2;
        font-family: "Inter", sans-serif;
        width: 95%;
    }
}
    
@media only screen and (min-width:481px) and (max-width:960px){
    body{
        margin: 0px;
        padding: 0px;
        font-family: "Inter", sans-serif;
        background-color: #112140;
    }

    #wrapper{
        width: 100%;
    }

    header{
        padding: 20px;
        text-align: center;
        background-color: #112140;
        color: #F2F2F2;
        border-bottom: 5px solid #254159;
    }

    header nav a{
        margin: 0 25px;
        color: #F2F2F2;
        text-decoration: none;
    }

    header nav a:hover{
        color: #D9B18F
    }

    footer{
        padding: 20px;
        text-align: center;
        background-color: #112140;
        color: #F2F2F2;
        border-top: 5px solid #254159;
    }

    #projects{
        text-align: center;
        color: #F2F2F2;
    }

    .card{
        background-color: #254159;
        border: 3px solid #D9B18F;
        border-radius: 5px;
        display: inline-block;
        width: 40%;
        margin: 10px;
        padding: 10px;
    }

     #contact{
        width: 50%;
        margin: 0 auto;
        color: #F2F2F2;
    }

    #contact h2{
        text-align: center;
    }
    
    #contact p{
        text-align: center;
    }

    input[type="submit"]{
        padding: 10px 20px;
        border-radius: 5px;
        color: #112140;
        background-color: #D9B18F;
        font-family: "Inter", sans-serif;
        border: 0px;
        font-size: 16px;
        font-weight: bold;
    }
    input[type="submit"]:hover{
        background-color: #a67f5d;
    }

    input[type=text], textarea{
        border-radius: 5px;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: #254159;
        border: 3px solid #D9B18F;
        color: #F2F2F2;
        font-family: "Inter", sans-serif;
        width: 95%
    }
}

@media only screen and (min-width:960px){
    body{
        margin: 0px;
        padding: 0px;
        font-family: "Inter", sans-serif;
        background-color: #112140;
    }

    #wrapper{
        width: 100%;
    }

    header{
        padding: 20px;
        text-align: center;
        background-color: #112140;
        color: #F2F2F2;
        border-bottom: 5px solid #254159;
    }

    header nav a{
        margin: 0 25px;
        color: #F2F2F2;
        text-decoration: none;
    }

    header nav a:hover{
        color: #D9B18F
    }

    footer{
        padding: 20px;
        text-align: center;
        background-color: #112140;
        color: #F2F2F2;
        border-top: 5px solid #254159;
    }

    #projects{
        width: 960px;
        margin: 0 auto;
        text-align: center;
        color: #F2F2F2;
    }

    .card{
        background-color: #254159;
        border: 3px solid #D9B18F;
        border-radius: 5px;
        float: left;
        width: 394px;
        margin: 20px;
        padding: 20px;
    }

    #about{
        width: 960px;
        margin: 0 auto;
        text-align: center;
    }
    
    #profile-image{
        width: 280px;
        height: 320px;
        background-color: red;
        float: left;
        margin: 0 20px;
    }

    #about-text{
        width: 280px;
        height: 320px;
        background-color: green;
        float: left;
        margin: 0 20px;
    }

    #profile-video{
        width: 280px;
        height: 320px;
        background-color: blue;
        float: left;
        margin: 0 20px;
    }

    #contact{
        width: 480px;
        margin: 0 auto;
        color: #F2F2F2;
    }

    #contact h2{
        text-align: center;
    }
    
    #contact p{
        text-align: center;
    }

    input[type="submit"]{
        padding: 10px 20px;
        border-radius: 5px;
        color: #112140;
        background-color: #D9B18F;
        font-family: "Inter", sans-serif;
        border: 0px;
        font-size: 16px;
        font-weight: bold;
    }
    input[type="submit"]:hover{
        background-color: #a67f5d;
    }

    input[type=text], textarea{
        border-radius: 5px;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: #254159;
        border: 3px solid #D9B18F;
        color: #F2F2F2;
        font-family: "Inter", sans-serif;
    }
}
